.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.example-full-width {
    width: 100%;
}

.example-half-width {
    width: 50%;
}
  
td {
    padding-right: 8px;
}

.display-flex {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.select-required {
    display: block;
    margin-top: -20px;
    font-size: 12px;
    color: rgb(213, 36, 36);
}

.display-flex-up {
    display: flex;
    justify-content: space-between;
}

.display-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    text-align: end;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
input[type="text"],
textarea {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
.create-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
.create-btn:hover {
    background-color: #0069d9;
}

.create-btn-disabled {
    cursor:help;
    color: rgb(103, 102, 102);
    background-color: rgb(208, 203, 203);
}

.create-btn-disabled:hover {
    background-color:  rgb(208, 203, 203);
}

.input-image {
    display: contents;
}