<div class="display-flex form-group">
    <form class="example-form">
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <!-- Title -->
            <mat-label for="title">Course Title</mat-label>
            <input type="text" class="form-control" 
                   id="title" 
                   required 
                   name="title" 
                   [(ngModel)]="title" 
                   matInput 
                   *ngIf="!isUpdate"
                   placeholder="Ex. Typescript - zero to hero"
                   [disabled]="isDisabled"
            >
            <input type="text" class="form-control" 
                    id="title-update" 
                    name="title" 
                    [(ngModel)]="title" 
                    matInput 
                    *ngIf="isUpdate"
                    value="{{course.title}}"
            >
          </mat-form-field></td>
        </tr>
        </table>
        
        <!-- Description -->
        <div>
          <mat-form-field class="example-full-width">
            <mat-label for="description">Description</mat-label>
            <textarea type="text" 
                      id="description" 
                      name="description" 
                      [(ngModel)]="description" 
                      matInput 
                      placeholder="Ex. learning typescript" 
                      *ngIf="!isUpdate"
                      required
                      [disabled]="isDisabled"
                      >
              </textarea>
              <textarea type="text" 
                        id="description-update" 
                        name="description" 
                        [(ngModel)]="description" 
                        matInput 
                        placeholder="Ex. learning typescript" 
                        *ngIf="isUpdate"
                        value="{{course.description}}"
              >
              </textarea>
          </mat-form-field>
        </div>
    <div class="display-flex-up">
        <!-- People -->
      <div>
          <mat-form-field class="example-half-width">
            <mat-label for="people">People</mat-label>
            <input type="number" 
                    min="1" 
                    id="people" 
                    name="people" 
                    [(ngModel)]="people" 
                    matInput 
                    placeholder="Ex. 50" 
                    required
                    *ngIf="!isUpdate"
                    [disabled]="isDisabled"
            >
            <input type="number" 
                    min="1" 
                    id="people-update" 
                    name="people" 
                    [(ngModel)]="people" 
                    matInput 
                    placeholder="Ex. 50" 
                    *ngIf="isUpdate"
                    value="{{course.people}}"
            >
          </mat-form-field>
      </div>
      <!-- Author -->
      <div *ngIf="!isUpdate">
        <mat-form-field class="example-full-width">
          <mat-label for="author">Author</mat-label>
          <input type="text" 
                  id="author" 
                  name="author" 
                  [(ngModel)]="author" 
                  matInput 
                  placeholder="Your name" 
                  required
                  [disabled]="isDisabled"
          >
        </mat-form-field>
      </div>
      <!-- Update -->
      <div *ngIf="isUpdate" class="display-column-reverse">
        <span>Author: {{course.author}}</span>
        <mat-form-field appearance="fill" aria-required="true">
          <mat-label>Status</mat-label>
          <mat-select id="select">
            <mat-option value="active">Active</mat-option>
            <mat-option value="finished">Finished</mat-option>
          </mat-select>
        </mat-form-field>
        <span *ngIf="!selectValue" id="select-required"></span>
      </div>
    </div>
        <button type="submit" (click)="newCourse()" *ngIf="!isUpdate" [disabled]="isDisabled" id="create-btn" class="create-btn">Create</button>
        <button type="submit" *ngIf="isUpdate" (click)="doUpdate($event)" class="create-btn">Update</button>
    </form>
</div>
  