/* Structure */
.example-container {
    position: relative;
    padding: 1rem 1rem;
    margin: 2rem 2rem;
    max-width: 100%;
}
  
.example-table-container {
    position: relative;
    overflow: auto;
}
  
table {
    width: 100%;
}
  
.example-loading-shade {
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
}
  
  /* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}
  
.mat-column-created {
    max-width: 124px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

#modal, #modalAll {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.delete-btn, 
.update-btn {
    padding: 8px 16px;
    border-radius: 4px;
    color: #e8dedf;
    border-radius: 4px;
    cursor: pointer;
}

.update-btn {
    background-color: #40dd2e;
    color: #d2e0d7;
    border: none;
    margin-right: 10px;
  }
  
.delete-btn {
    background-color: #e71313;
    border: 2px solid #dc0d0d;
}
  
.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}  
  
.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height: 300px;
    position: relative; /* Relative positioning for the close button */
    display: flex;
}

.modal-content-all {
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
    height: 80px;
    position: relative; /* Relative positioning for the close button */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#all-selected {
    position: relative;
    top: -35%;
}
  
.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}
  
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buttons {
    position: relative;
    top: 0;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: -40px;
}

.content-text {
    padding-left: 20px;
}

.total-span {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}