<mat-toolbar class="mat-toolbar">
  <div>
    <span>ProjectFullStack</span>
  </div>
  <div class="div-links">
    <a href="www.google.com" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Home
    </a>
    <a href="www.google.com" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Criar curso
    </a>
    <a href="www.google.com" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Todos os cursos
    </a>
  </div>
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</mat-toolbar>
