<mat-toolbar class="mat-toolbar">
    <div>
      <span>ProjectFullStack</span>
    </div>
    <div class="div-links">
      <a (click)="doRedirect($event, '/')" class="nav-link home" id="">
        Home
      </a>
      <a (click)="doRedirect($event, '/createcourse')" class="nav-link" id="createcourse">
        Create course
      </a>
      <a (click)="doRedirect($event, '/allcourses')" class="nav-link" id="allcourses">
        All courses
      </a>
    </div>
    <div>
      <app-tooltip></app-tooltip>
    </div>
</mat-toolbar>