<mat-toolbar class="mat-toolbar">
    <div>
      <span>ProjectFullStack</span>
    </div>
    <div class="div-links">
      <a (click)="doRedirect($event, '/')" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        home
      </a>
      <a (click)="doRedirect($event, '/createcourse')" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Criar curso
      </a>
      <a (click)="doRedirect($event, '/allcourses')"  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Todos os cursos
      </a>
    </div>
    <div>
      <app-tooltip (click)="doRedirect($event, '/favorites')"></app-tooltip>
    </div>
</mat-toolbar>